@use "../../sass/media.scss";

/// gallery
.image-gallery {
    height: clamp(15.313rem, 18.478vw + 11.617rem, 25.938rem);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    position: relative;
    button {
        position: absolute;
        top: 0;

        display: flex;
        align-items: center;

        height: 100%;
        min-width: 64px; // pour l'accessibilité
        border: none;
        background-color: transparent;
        cursor: pointer;
        svg {
            width: clamp(0.75rem, 3.804vw - 0.011rem, 2.938rem);
        }

        &.next {
            right: 0;
            // aligne la flèche à droite
            justify-content: end;
        }

        &.next svg {
            transform: rotateY(180deg);
        }
    }

    .counter {
        // sur la version mobile le compteur n'est pas affiché
        display: none;
    }
}

@media (min-width: media.$screen-width-tablet) {
    .image-gallery {
        .counter {
            color: white;
            font-size: 18px;
            font-weight: 500;
            
            display: revert;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            bottom: 1em;
        }
    }
}