@use "../../sass/colors.scss";

.accordion {
    & > * {
        margin: 0;
    }

    .content {
        display: grid;
        grid-template-rows: 0fr;
        background-color: colors.$light-grey;
    }

    .content > * {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    .content.expanded {
        animation: expand 1s forwards;
    }
    .content.collapsed {
        animation: collapse 1s forwards;
    }

    button {
        color: white;
        font-family: inherit;
        font-size: 24px;
        font-weight: 700;

        background-color: colors.$accent-main;
        border: none;
        border-radius: 0.7em;

        width: 100%;
    }
    .button-content {
        display: flex;
        justify-content: space-between;
    }

    .arrow {
        transition: transform 1s;
        display: inline-block;
    }
    .arrow.expanded {
        transform: rotate(180deg);
    }
}

@keyframes expand {
    0% {
        grid-template-rows: 0fr;
        padding: 0;
        color: currentColor;
    }
    
    25% {
        padding: 0.7em;
    }

    100% {
        grid-template-rows: 1fr;
        padding: 0.7em;
    }
}

@keyframes collapse {
    0% {
        grid-template-rows: 1fr;
        padding: 0.7em;
    }
    
    50% {
        color: transparent;
    }
    
    100% {
        grid-template-rows: 0fr;
        padding: 0;
        color: transparent;
    }
}