@use "../../sass/colors.scss";

$border-radius: 0.3em;

.accordion {
    * {
        margin: 0;
        padding: 0;
    }

    .content {
        display: grid;
        grid-template-rows: 0fr;
        background-color: colors.$light-grey;
    }

    .content > * {
        overflow: hidden;
    }
    
    .content.expanded {
        animation: expand 1s forwards;
    }
    .content.collapsed {
        animation: collapse 1s forwards;
    }

    button {
        color: white;
        font-family: inherit;
        // 13 à 24
        font-size: clamp(0.813rem, 1.196vw + 0.573rem, 1.5rem);
        font-weight: 700;

        background-color: colors.$accent-main;
        border: none;
        border-radius: $border-radius;

        transition: border-bottom-right-radius 1s, border-bottom-left-radius 1s;

        width: 100%;
        // 30 à 52 px 
        padding-block: 0.44em;
        padding-left: 10px;
        padding-right: 1em;
    }
    button.expanded {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .button-content {
        display: flex;
        justify-content: space-between;
    }

    .arrow {
        transition: transform 1s;
        display: inline-block;
    }
    .arrow.expanded {
        transform: rotate(180deg);
    }
}

@keyframes expand {
    0% {
        grid-template-rows: 0fr;
        padding: 0;
        color: currentColor;
    }
    
    25% {
        padding: 0.7em;
    }

    100% {
        grid-template-rows: 1fr;
        padding: 0.7em;
    }
}

@keyframes collapse {
    0% {
        grid-template-rows: 1fr;
        padding: 0.7em;
    }
    
    50% {
        color: transparent;
    }
    
    100% {
        grid-template-rows: 0fr;
        padding: 0;
        color: transparent;
    }
}